/*
las seudoclases son tipos de selectores que se activan en determianadas cisrcunstancias
ejem :
:hover cuando se le pasa po encima
:active cuanso se le hace click
:visited : cuando un enlace ya ha sido visitado
:focus : cuando el enfoque este en el elemntos;
:not() : selecciona a los elementos que no coincidan  con el selecto que se pasa como parametro
::selection  estilos a  la seleccion;
:target : seleccion el destino de un enlace interno;
*/

:hover{ /*todos los elementos que se les pase por encima*/
	
}

h1:hover{ /* cuando se hace hover al elemento*/
 color: blue;
}
h1 :hover{ /* cuando se hace hover a los hijos de dicho elemento*/
	color: red;
}
input:focus{
	background: red;
}

div{    /* ajemplo cuando se quiere ve un elemto vacio que hereda stilos*/
	height: 100px;
}
div:empty{
	background: yellow;
}
p:not(.excluir){
	color: blue;
}
h1::selection{
	background: purple;
	color: white;
}

#destino{
	display: none;
}

#destino:target{
	display: block;
	background: #333;
	color :#fff;
}
/*
selectores avanzados
:first-child
:lastt-child
*/